*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

.container-fluid{
	width: 100%;
	padding: 0 16px;
}
.container{
	width: 1400px;
	margin: 0 auto;
	position: relative;
}
.container-1{
	width: 1400px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.row>[class*="col-"]{
	padding: 12px;	
}
.jc-flex-end{
	justify-content: flex-end;
}
.jc-flex-start{
	justify-content: flex-start;
}
.jc-space-between{
	justify-content: space-between;
}
.jc-center{
	justify-content: center;
}
.ai-center{
	align-items: center;
}
.ai-flex-end{
	align-self: flex-end;
}
.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}